*{
    padding:0;
    margin:10;
    box-sizing: border-box;
}

h1{
    background:linear-gradient(to right, red, orange , yellow, green, cyan, blue, violet)
}
    body{
    background:rgb(100, 100, 100); 
}

.gameboard,.cell{
    position:absolute;
}

.gameboard:hover,.cell:hover{
    border: 2px solid black;
    cursor: pointer;

}

.cell{
    border:1px solid black;
}

#score{
    size:50px;
}

#timer{
    margin:10;
}

#pattern_board{
    left:45%;
}

#player_board{
    top:50%;
    left:40%;
    transform:translate(-50%, -50%);
}
